<!DOCTYPE html>
<html>
  <head>
    <title>Electron | Home</title>
    <link rel="stylesheet" href="/static/styles/style.css">
    <link rel="stylesheet" href="/static/styles/app.css">
    <link rel="stylesheet" href="/static/styles/global.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
    <script src="/static/scripts/create.js"></script>
    <script src="/static/scripts/loader.js"></script>
  </head>
  <body>
    <script>
      var modal, error, errorText
      window.onload = function() {
        modal = document.getElementById("modal")
        error = document.getElementsByClassName("error")[0]
        errorText = document.getElementById("errorText")

        fetchUserChats()
          .then(data => renderUserChats(data))
      }
    </script>
    <div class="modal-background centered-children" id="modal" style="display: none">
      <div class="error"><div id="errorText">Unkown error occured!</div><span onclick="closeError()">X</span></div>
      <div class="modal">
        <div class="modal-title" id="modalTitle">✨ Create</div>
        <input class="modal-input" id="name" type="text" autocomplete="off" spellcheck="false" placeholder="Name">
        <button class="button" onclick="createChat()">Create</button>
        <button class="button cancel-button" onclick="closeModal()">Cancel</button>
      </div>
    </div>
    <div class="app">
      <div class="tabs-wrapper">
        <div class="tabs-container"></div>
        <div class="selection-container centered-children">
          <button class="button selection-button" onclick="window.location.href='/'">🏠</button>
          <button class="button selection-button" onclick="openCreateModal()">✨</button>
          <button class="button selection-button" onclick="window.location.href='/settings'">⚙️</button>
          <button class="button selection-button" onclick="window.location.href='/logout'">🔐</button>
        </div>
      </div>
      <div class="content-wrapper"></div>
    </div>
  </body>
</html>
